@import url("./base.css");
@import url("./navbar.css");
@import url("./cards.css");
@import url("./show.css");
@import url("./buttons.css");
@import url("./reviews.css");
@import url("./toast.css");
@import url("./forms.css");
@import url("./legal.css");
@import url("./auth.css");
@import url("./responsive.css");
@import url("./rating.css");
@import url("./footer.css");
@import url("./delmodel.css");

